
<footer>
    <div class='information-container'>
        <p class = 'clubhouse'><strong>Cool Kids Clubhouse</strong> <br>
            In Honor of Ken Singleton<br>
            8422 Bellona Lane, Suite 102<br>
            Towson, MD 21204<br>
            410.560.1770 | <a href="mailto:renee@coolkidscampaign.org">renee@coolkidscampaign.org</a></p>
        <p class = 'clubhouse'><strong>Cool Kids Clubhouse</strong> <br>
            In Honor of Dan Jansen<br>
            9601 Holly Point Drive, Suite 102<br>
            Huntersville, NC 28078<br>
            704.997.5701 | <a href="mailto:roy@coolkidscampaign.org">roy@coolkidscampaign.org</a></p>
        <p class= 'clubhouse'><strong>Cool Kids Tennessee</strong> <br>
            PO Box 2912<br>
            Brentwood, TN 37024<br>
            410.560.1770 | <a href="mailto:renee@coolkidscampaign.org">renee@coolkidscampaign.org</a></p>
    </div>
    <p class='footer-text'>&copy;2023</p>
  </footer>
</body>
</html>

