<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/@primer/css@20.7.1/dist/primer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script defer src="/javascript/userMenu.js"></script>
    <%if (locals.title) {%>
        <title><%=title%></title>
    <%} else {%>
        <title>Cool Kids Campaign</title>
    <%}%>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="top-banner">
                <nav>
                    <ul id="icon-list">
                        <a><img class="icon" src="/images/facebook.png"></a>
                        <a><img class="icon" src="/images/twitter.png"></a>
                        <a><img class="icon" src="/images/instagram.png"></a>
                        <a><img class="icon" src="/images/pintrest.png"></a>
                    </ul>
                    <ul id="nav-links">
                        <a href="https://coolkidspro.wpengine.com/donate-now/" target="_blank">Donate</a>
                        <a href="https://coolkidspro.wpengine.com/become-a-cool-kid/" target="_blank">Become a cool kids
                            family</a>
                    </ul>
                </nav>
            </div>
            <div class="logo-banner">
                <a href="/"><img id="logo" src="/images/logo.png"></a>
            </div>
            
            <div class="bottom-banner">
                <input type="checkbox"id="toggle"/>
                <label  for="toggle" id="hamburger-btn"><i class="fa-solid fa-bars"></i></label>
                <label for="toggle" id="delete-btn"><i class="fa-solid fa-xmark"></i></label>
                <nav>
                    <ul id="bottom-banner-links">
                        <%if (user) {%>
                            <a href="/programs">Programs</a>
                            <%if (role === 'admin') {%>
                                <a href="/programs/new">New Program</a>
                            <%}%>
                            <a href=""><img id="userIcon" src="/images/user.png"></a>
                        <%} else {%>
                            <a href="/users/login">Login</a>
                            <a href="/users/new">Sign Up</a>   
                        <%}%>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <%if (user) {%>
        <div class="drop-down-menu-container">
            <div class="profile">
                <h3><%=fullName%></h3>
                <hr>
            </div>
            <div class="drop-drop-menu">
                <ul class="drop-down-links">
                    <li><img class="drop-down-icon" src="/images/profile.png"><a href="/users/profile">My Profile</a></li>
                    <%if (role === 'patient') {%>
                        <li><img class="drop-down-icon" src="/images/rsvp.png"><a href="/users/rsvps">My RSVPs</a></li>
                    <%} else {%>
                        <li><img class="drop-down-icon" src="/images/tools.png"><a href="/users/admin">Admin Tools</a></li>
                    <%}%>
                    <li><img class="drop-down-icon" src="/images/inbox.png"><a href="/users/inbox">Inbox</a></li>
                    <li><img class="drop-down-icon" src="/images/settings.png"><a href="/users/settings">Settings</a></li>
                    <li><img class="drop-down-icon" src="/images/log-out.png"><a href="/users/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    <%}%>

    <% if(errorMessages.length > 0) {%>
        <% errorMessages.forEach(message=>{%>
            <div class='error'>
                <%=message%>
            </div>
        <%});%>
    <%}%>

    <% if(successMessages.length > 0) {%>
        <% successMessages.forEach(message=>{%>
            <div class='success'>
                <%=message%>
            </div>
        <%});%>
    <%}%>
