<%- include('./partials/header.ejs')%>
    <main>
        <div class="text-centered">
            <h1>Check it out, Cool Kids!</h1>
            <button class="purple-button">Check out these events!</button>
        </div>
    </main>
<%- include('./partials/footer.ejs')%>