
* {
    margin: 0 auto;
}

:root {
    --purple: #630460;
    --green: #6ABF4B;
}
main {
    padding: 50px 50px;
}

p {
    font-size: 20px;
}

a:hover {
    opacity: .7;
}

#logo {
    width: 300px;
    height: 200px;
    
}

.top-banner {
    width: 100%;
    height: 65px;
    background-color: var(--purple);
    align-items: center;
    
}

.bottom-banner {
    width: 100%;
    height: 65px;
    background-color: var(--green);
    display: flex;
    align-items: center;
}

.icon {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-right: 10px;
    float: left;
}

#icon-list {
    padding-left: 25px;
}

#nav-links {
    float: right;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

#nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-right: 25px;
    text-transform: uppercase;
    font-family: sans-serif;
}

#bottom-banner-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-right: 25px;
    text-transform: uppercase;
    font-family: sans-serif;
    transition: all 0.5s ease-in-out 0.5s;
}

#bottom-banner-links a:hover {
    color: var(--purple);
}

#userIcon {
    float: right;
}

.drop-down-menu-container {
    max-height: 0px;
    width: 250px;
    background-color: var(--green);
    position: absolute;
    margin-left: 45%;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.drop-down-menu-container hr {
    border: 0;
    height: 2px;
    width: 100%;
    background-color: var(--purple);
    margin: 15px 0 20px;
}

.drop-down-menu-container.active {
    max-height: 340px;
} 

.drop-down-links li {
    list-style: none;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.drop-down-links li img {
   margin-left: 30px;
   margin-right: 0px;
}

.drop-down-menu-container h3 {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}

.drop-down-links li a  {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
}

.logo-banner {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.centered {
    display: flex;
    justify-content: center;
}

#login-container, #signup-container {
    display: block;
    width: 30%;
}

form {
    margin-top: 10px;
}

#form-container {
    width: 40%;
}

#form-container input {
    display: block;
}

input, textarea {
    margin: 7px 0px;
    padding: 7px 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;   
}

label {
    font-size: 18px;
}

#username, #password, #email, #firstName, #lastName  {
    width: 100%;
    padding: 8px 5px;
    border-radius: 6px;
    border: 1px solid grey;
}

#submit {
    margin-top: 10px;
    background-color: var(--purple);
    color: white;
    border: none;
    text-align: center;
    border-radius: 6px;
    padding: 8px 20px;
    text-transform: uppercase;
    float: right;
    cursor: pointer;
    width: fit-content;
}

 .action-button {
    margin-top: 10px;
    background-color: var(--green);
    color: white;
    border: none;
    text-align: center;
    border-radius: 6px;
    padding: 2px 10px;
    float: right;
    cursor: pointer;
    width: fit-content;
}

/****Menu navigation bar****/
#hamburger-btn,
#delete-btn,
#toggle{
   display: none;
}

#hamburger-btn i,
#delete-btn i {
    padding: .5rem;
}


@media screen and (max-width: 700px) {
    .bottom-banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-direction: column;
        align-items: stretch;
    }

    #bottom-banner-links{
        overflow: hidden;
        width: 100%;
        max-height: 0; 
    }

    #hamburger-btn {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        padding: 1rem;
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

    #toggle:checked ~ * #bottom-banner-links{
        max-height: 100%;
    }

    #toggle:checked ~ #hamburger-btn{
        display: none;
        transition-delay: 2s;
        transform: rotate(360deg);

    }

    #toggle:checked ~ #delete-btn{
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        cursor: pointer;
        color: white;
        transition-delay: 2s;
        transform: rotate(360deg);
    }

    #bottom-banner-links a{
        z-index: 100;
        padding: 1rem;
        background-color: var(--green);
        width: 100%;
        left: 0;
        text-align: center; 
    } 

    #bottom-banner-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 100;
        width: 100%;
        left: 0;
        position: absolute;
        transition: all 0.3s ease-in-out 0.3s;
        
    } 



 }

 .userTable {
    border: 1px solid black;
    border-collapse: separate;
 }

 .userTable tr, td, th {
    border: 1px solid black;
 }

 .userTable td {
    font-size: 20px;
    padding: 5px 5px;
    text-align: center;
    word-break: break-all;
 }
 
 .userTable th {
    font-size: 20px;
    padding: 5px 5px;
 }

 .text-centered {
    text-align: center;
    
 }

 .text-centered h2 {
    margin: 15px 0px;
    
 }
    
 /***error message**/
 .error {
    text-align: center;
    background-color: red;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    margin: 1rem;
 }

 /***Success message***/ 
 .success {
    background-color: var(--green);
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    margin: 1rem;
    text-align: center;
 }
    
 /***Footer Style***/
 footer{
    padding-top: 1rem;
 }

 .information-container{
    margin-bottom: 0;
    overflow-wrap: break-word;
    text-align: center;
    justify-content: center;
    background-color: #d0d7de;
 }

.information-container p{
    display: inline-block;
    text-align: center;
    overflow: auto;
    padding: 0.5rem;
    vertical-align: middle;  
    font-size: small;
}

  .footer-text {
    text-align: center;
    margin-bottom: 0;
    background-color: #d0d7de;
    font-size: small;
  }

  /***RSVP Confirm***/
.rsvp-confirm {
    text-align: center;
}

.event-name {
    font-size: 30px;
    font-weight: bold;
    color: darkblue;
}

#yes {
    background-color: var(--green);
    border: black;
    color: white;
    padding: 0.3rem 1rem 0.3rem 1rem;
    text-align: center;
    font-size: 20px;
    border-radius: 1rem;
}

#no {
    background-color: var(--green);
    border: black;
    color: white;
    padding: 0.3rem 1rem 0.3rem 1rem;
    text-align: center;
    font-size: 20px;
    border-radius: 1rem;
}

#btn-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.response-confirmation {
    padding-top: 1rem;
}

h2 .start {
    display: inline-block;
    
}

.end {
   display: inline-block; 
   
}

/*admin edit program*/
#edit-program {
    background-color: var(--green);
    border: black;
    color: white;
    padding: 0.3rem 1rem 0.3rem 1rem;
    text-align: center;
    font-size: 20px;
    border-radius: 1rem;
}




