* {
    margin: 0 auto;
}

div:not(#calendar, .drop-down-menu-container, .success, .error) {
    margin: 0;
} 

:root {
    --purple: #630460;
    --green: #6ABF4B;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    padding: 50px 50px;
}

p {
    font-size: 20px;
}

a:hover {
    opacity: .7;
}

#logo {
    width: 300px;
    height: 200px;
    
}

.top-banner {
    width: 100%;
    height: 65px;
    background-color: var(--purple);
    align-items: center;
    
}

.bottom-banner {
    width: 100%;
    height: 65px;
    background-color: var(--green);
    text-align: center;
    padding: 1rem;
}

.icon {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-right: 10px;
    float: left;
}

#icon-list {
    padding-left: 25px;
}

#nav-links {
    float: right;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

#nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-right: 25px;
    text-transform: uppercase;
    font-family: sans-serif;
}

#bottom-banner-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-right: 25px;
    text-transform: uppercase;
    font-family: sans-serif;
    transition: 0.5s ease-in-out;
}

#bottom-banner-links a:hover {
    color: var(--purple);
}

#userIcon {
    width: 40px;
    right: 3rem;
    position: absolute;
    padding-bottom: 0.3rem !important;
}

.fa-chevron-down {
    float: right;
    font-size: 15px;;
    padding-top: 0.5rem;
    padding-right: 0.7rem;
    animation: dropdownicon 0.5s;
    color: white;
}

.fa-chevron-down.active {
    display: none !important;
}

.fa-chevron-up {
    display: none !important;
    float: right;
    font-size: 15px;;
    padding-top: 0.5rem;
    padding-right: 0.7rem;
    color: white;
}

.fa-chevron-up.active {
    display: block !important;
    animation: dropdownicon 0.5s;
}

@keyframes dropdownicon {
    100% {transform: rotate(360deg);}
}

.drop-down-menu-container {
    max-height: 0px;
    width: 250px;
    background-color: var(--green);
    position: absolute;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
    right: 0;
    border-radius: 0px 0px 6px 6px;
    box-shadow: -2px 5px 10px grey;
}

.drop-down-menu-container hr {
    border: 0;
    height: 2px;
    width: 100%;
    background-color: var(--purple);
    margin: 15px 0 20px;
}

.drop-down-menu-container.active {
    max-height: 340px;
} 

.drop-down-links li {
    list-style: none;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.drop-down-links li img {
   margin-left: 30px;
   margin-right: 0px;
}

.drop-down-menu-container h3 {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}

.drop-down-links li a  {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
}

.logo-banner {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.centered {
    display: flex;
    justify-content: center;
}

.text-centered {
    text-align: center;
   
}

#login-container, #signup-container {
    display: block;
    width: 30%;
}

.alt-account-container {
    clear: both;
    text-align: center;
    
}

.margin-top-30px {
    margin-top: 30px;
}

form {
    margin-top: 10px;
}

#form-container {
    width: 40%;
}

input, textarea {
    margin: 7px 0px;
    padding: 7px 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;   
}

label {
    font-size: 18px;
}

.user-input  {
    width: 100%;
    padding: 8px 5px;
    border-radius: 6px;
    border: 1px solid grey;
}

#submit, .submit {
    margin-top: 10px;
    background-color: var(--purple);
    color: white;
    border: none;
    text-align: center;
    border-radius: 6px;
    padding: 8px 20px;
    text-transform: uppercase;
    
    cursor: pointer;
    width: fit-content;
}

.submit:hover, 
.cancel:hover,
.purple-button:hover,
#yes:hover,
#no:hover {
    opacity: 88%;
}

#cancel, .cancel {
    margin-top: 10px;
    background-color: red;
    color: white;
    border: none;
    text-align: center;
    border-radius: 6px;
    padding: 8px 20px;
    text-transform: uppercase;
    
    cursor: pointer;
    width: fit-content;
}

.action-button {
    margin-top: 10px;
    padding: 2px 10px;
    background-color: var(--green);
    color: white;
    border: none;
    text-align: center;
    border-radius: 6px;
    float: right;
    cursor: pointer;
    width: fit-content;
}

.action-button-table {
    padding: 2px 10px;
    background-color: var(--green);
    color: white;
    border: none;
    text-align: center;
    border-radius: 6px;
    float: right;
    cursor: pointer;
    width: fit-content;
} 

.red-button {
    background-color: red;
}

.yellow-button {
    background-color: goldenrod;
}

/****Menu navigation bar****/
#hamburger-btn,
#delete-btn,
#toggle,
#profile-delete-btn{
   display: none;
}

#hamburger-btn i,
#delete-btn i {
    padding: .5rem;
}

@media screen and (max-width: 700px) {
    main {
        padding: 20px 20px;
    }

    .bottom-banner {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch; 
        border-bottom: groove #80808017;  
    }

    #bottom-banner-links{
        overflow: hidden;
        max-height: 0; 
    }

    @keyframes menurotation {
        100% {transform: rotate(360deg);}
    }

    #hamburger-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

    #toggle:checked ~ * #bottom-banner-links{
        max-height: 100%;
    }

    .fa-solid {
        animation: menurotation 0.5s;
    }

    #toggle:checked ~ #hamburger-btn{
        display: none;
    }

    #toggle:checked ~ #delete-btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        cursor: pointer;
        color: white; 
    }

    #toggle:checked ~ .drop-down-menu-container {
        display: none;
    }

    #bottom-banner-links a{
        z-index: 2;
        padding: 1rem;
        background-color: var(--green);
        width: 100%;
        left: 0;
        text-align: center; 
    } 

    #bottom-banner-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        width: 100%;
        left: 0;
        position: absolute;
        transition: 0.5s ease-in-out;
        border-radius: 0px 0px 6px 6px;
        box-shadow: -3px 5px 6px grey;
        margin-top: 10px;
    } 

    #userIcon {
        float: none;
        position: static;
    }

    #profile-delete-btn{
        display: block;
    }

    #login-container, #signup-container {
        width: fit-content;
    }

    .drop-down-menu-container {
        max-height: 0px;
    }
    
    .drop-down-menu-container.active {
        max-height: 340px;
        z-index: 3;
        width: 100%;
        margin-left: 0;
        margin-top: -65px;
    } 

    #profile-delete-btn {
        float: right;
        cursor: pointer;
        color: white;
        background-color: transparent;
        margin-right: 10px;
        margin-bottom: 10px;
        border: none;
    }

    .fa-chevron-up {
        display: none !important;
    }

    body #program-container, 
    body #profile-container,
    body #form-container {
        width: 100%;
    }

    #dropDownBtn {
        width: 100%;
        background: var(--green);
        padding-top: 15px;
    }
}

@media all and (max-device-width: 515px) {
    .fc .fc-toolbar {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    div.fc-toolbar-chunk {
        margin: 0.5rem;
    }

    div.fc-button-group {
        margin: 0.4rem;
    }
}

@media all and (max-device-width: 840px) {
    body #program-container {
        width: 100%;
        overflow-x: scroll;
    }

    body .tabulator {
        width: 100%;
        overflow: scroll;
    }

    .float-left {
        width: 98%;
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-centered {
    text-align: center;
 }

.table-container {
    width: 100%;
}

#rsvpsTable, #rsvpsProgramTable {
    width: 100%;
}

#rsvpsProgramTable {
    margin-bottom: 0 !important;
}

.tabulator{
    width: 50%;
    margin-bottom: 2rem !important;
} 

 #descriptionContainer {
    float: left;
 }

 .text-centered h2 {
    margin: 15px 0px;
    
 }
    
/***Footer Style***/
footer{
    padding-top: 1rem;
    position: sticky;
    top: 100%;
}

.information-container{
    margin-bottom: 0;
    overflow-wrap: break-word;
    text-align: center;
    justify-content: center;
    background-color: var(--green);
}

.information-container p{
    display: inline-block;
    text-align: center;
    overflow: auto;
    padding: 0.5rem;
    vertical-align: top;  
    font-size: small;
    color: white;
    font-weight: bold;
}


.footer-text {
    text-align: center;
    margin-bottom: 0;
    background-color: var(--green);
    font-size: small;
    color: white;
  }

/***RSVP Confirm***/
#program-container, #profile-container {
    width: 50%;
    word-break: break-all;
}

.rsvp-confirm {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.program-header {
    font-weight: bold;
    color: darkblue;
    word-break: keep-all;
}

.padding-header {
    padding-top: 1rem;
}

#yes {
    background-color: var(--green);
    border: black;
    color: white;
    padding: 0.3rem 1rem 0.3rem 1rem;
    text-align: center;
    font-size: 20px;
    border-radius: 1rem;
    margin-right: 1rem;
}

#no {
    background-color: red;
    border: black;
    color: white;
    padding: 0.3rem 1rem 0.3rem 1rem;
    text-align: center;
    font-size: 20px;
    border-radius: 1rem;
}

.capitalize {
    text-transform: capitalize;
}

#buttons-container {
    float: right;
}

#shareMessage {
    width: fit-content;
    padding: 10px;
    color: black;
    font-size: 18px;
    
}

.successCopy {
    background-color: #dafbe1;
}

.errorCopy {
    background-color: #ffebe9;
}

.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.purple-button {
    background-color: var(--purple);
    border: black;
    color: white;
    padding: 0.3rem 1rem 0.3rem 1rem;
    text-align: center;
    font-size: 20px;
    border-radius: 1rem;
    height: fit-content;
    margin: 0.2rem;
}

#calendar {
    max-width: 1100px;
    position: relative;
    z-index: 0;
}

#header-spacing {
    margin-top: 4rem;
}

@keyframes fadeInMessage {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.flash {
    animation: fadeInMessage 1s;
}

#subject {
    margin-bottom: 1rem;
}

