
* {
    margin: 0 auto;
}

:root {
    --purple: #630460;
    --green: #6ABF4B;
}
main {
    padding: 50px 50px;
}

p {
    font-size: 20px;
}

a:hover {
    opacity: .7;
}

#logo {
    width: 300px;
    height: 200px;
    
}

.top-banner {
    width: 100%;
    height: 65px;
    background-color: var(--purple);
    align-items: center;
    
}

.bottom-banner {
    width: 100%;
    height: 65px;
    background-color: var(--green);
    display: flex;
    align-items: center;
}

.icon {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-right: 10px;
    float: left;
}

#icon-list {
    padding-left: 25px;
}

#nav-links {
    float: right;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

#nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-right: 25px;
    text-transform: uppercase;
    font-family: sans-serif;
}

#bottom-banner-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-right: 25px;
    text-transform: uppercase;
    font-family: sans-serif;
}

#userIcon {
    float: right;
}

.drop-down-menu-container {
    max-height: 0px;
    width: 250px;
    background-color: var(--green);
    position: absolute;
    margin-left: 45%;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.drop-down-menu-container hr {
    border: 0;
    height: 2px;
    width: 100%;
    background-color: var(--purple);
    margin: 15px 0 20px;
}

.drop-down-menu-container.active {
    max-height: 340px;
} 

.drop-down-links li {
    list-style: none;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.drop-down-links li img {
   margin-left: 30px;
   margin-right: 0px;
}

.drop-down-menu-container h3 {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}

.drop-down-links li a  {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
}

.logo-banner {
    display: flex;
    margin-top: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.centered {
    display: flex;
    justify-content: center;
}

#login-container, #signup-container {
    display: block;
    width: 30%;
}

form {
    margin-top: 10px;
}

#form-container {
    width: 40%;
}

#form-container input {
    display: block;
}

input, textarea {
    margin: 7px 0px;
    padding: 7px 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;   
}

label {
    font-size: 18px;
}

#username, #password, #email, #firstName, #lastName  {
    width: 100%;
    padding: 8px 5px;
    border-radius: 6px;
    border: 1px solid grey;
}

#submit {
    margin-top: 10px;
    background-color: var(--purple);
    color: white;
    border: none;
    text-align: center;
    border-radius: 6px;
    padding: 8px 20px;
    text-transform: uppercase;
    float: right;
    cursor: pointer;
    width: fit-content;
}

 .actionButton {
    margin-top: 10px;
    background-color: var(--green);
    color: white;
    border: none;
    text-align: center;
    border-radius: 6px;
    padding: 2px 10px;
    float: right;
    cursor: pointer;
    width: fit-content;
}

#hamburger-btn,
#delete-btn,
#toggle{
   display: none;
}


@media screen and (max-width: 700px) {
    .bottom-banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-direction: column;
        align-items: stretch;
    }

    #bottom-banner-links{
        overflow: hidden;
        width: 100%;
        max-height: 0;  
        transition: 1s opacity ease-in-out;
        transition-delay: 1s;
    }

     #hamburger-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        font-size: 30px;
        cursor: pointer;
     }

    #toggle:checked ~ * #bottom-banner-links{
        max-height: 100%;
        transition: 5s opacity ease-out;
        transition-delay: 5s;
    }

    #bottom-banner-links a{
        z-index: 100;
        padding: 2rem;
        background-color: var(--green);
        width: 100%;
        left: 0;
        text-align: center;
    } 

    #bottom-banner-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 100;
        width: 100%;
        border-bottom: 1px solid #ccc;
        left: 0;
        position: absolute;

    } 


 }

 .userTable {
    border: 1px solid black;
    border-collapse: separate;
 }

 .userTable tr, td, th {
    border: 1px solid black;
 }

 .userTable td {
    font-size: 20px;
    padding: 5px 5px;
    text-align: center;
    word-break: break-all;
 }
 
 .userTable th {
    font-size: 20px;
    padding: 5px 5px;
 }

 .text-centered {
    text-align: center;
    
 }

 .text-centered h2 {
    margin: 15px 0px;
    
 }
    
    

