<%- include('../partials/header.ejs')%>
    <script defer src="/javascript/adminConfirmation.js"></script>
    <script defer src="/javascript/tabulator.js"></script>
    <link href="https://unpkg.com/tabulator-tables@5.4.4/dist/css/tabulator.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <main>
        <div class="centered">
            <div class="table-container">

            
            <div id="errorMessage"></div>

            <%let numUsers = users.length;%>
            
            <h2 class="hidden">Admins</h2>
            <div id="adminTable"></div>
            <h2 class="hidden">Patients</h2>
            <div id="patientTable"></div>
            <h2 class="hidden">Total Users: <%=numUsers%></h2>
            </div>
        </div>
        <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.4/dist/js/tabulator.min.js"></script>
    </main>
    
<%- include('../partials/footer.ejs')%>