<%- include('../partials/header.ejs')%>
    <main>
        <div class="centered">
            <div id="login-container">
                <h2>Login to your account</h2>
                <form action="/users/login" method="POST">

                    <%if (formData) {%>
                        <label class="required" for="username">Username:</label>
                        <input type="text" class="user-input" id="username" name="username" value="<%=formData.username%>" required>

                        <label class="required" for="password">Password:</label>
                        <input type="password" class="user-input" id="password" name="password" value="<%=formData.password%>" required>
                    <%} else {%>
                        <label class="required" for="username">Username:</label>
                        <input type="text" class="user-input" id="username" name="username" required>

                        <label class="required" for="password">Password:</label>
                        <input type="password" class="user-input" id="password" name="password" required>
                    <%}%>

                    <a href="/users/resetLogin">Forgot username and password?</a>

                    <input type="submit" value="Log In" class="submit float-right">
                </form>
                <div class="alt-account-container">
                    <h3>Don't have an account?</h3>
                    <a href="/users/new">
                        <button type="button" class="submit">Sign Up</button>
                    </a>
                </div>
            </div>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>