<%- include('../partials/header.ejs')%>
    <main>
        <div class="centered">
            <div id="login-container">
                <h2>Login to your account</h2>
                <form action="/users/login" method="POST">

                    <%if (formData) {%>
                        <label class="required" for="username">Username:</label>
                        <input type="text" id="username" name="username" value="<%=formData.username%>" required>

                        <label class="required" for="password">Password:</label>
                        <input type="password" id="password" name="password" value="<%=formData.password%>" required>
                    <%} else {%>
                        <label class="required" for="username">Username:</label>
                        <input type="text" id="username" name="username" required>

                        <label class="required" for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                    <%}%>

                    <input type="submit" value="Log In" id="submit">
                </form>
        </div>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>