<%- include('../partials/header.ejs')%>
    <main>
        <div class="login-container centered">
            <h2>Sign up for an account</h2>
            <form action="/users" method="POST">
                <label class="required" for="text">First Name:</label>
                <input type="text" id="firstName" name="firstName" required>

                <label class="required" for="text">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required>

                <label class="required" for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <input type="submit" value="Sign Up" id="submit">
            </form>
       </div>
    </main>
<%- include('../partials/footer.ejs')%>