<%- include('../partials/header.ejs')%>
    <main>
        <h2>Welcome, <%=fullName%></h2>
        <h3>Member since: Dec 7, 3015</h3>
        <h3>Role: <%=role%></h3>
    </main>
<%- include('../partials/footer.ejs')%>