<%- include('../partials/header.ejs')%>
    <main>
        <div class="centered">
            <div id="form-container">
                <form action="#" method="POST">
                    <h2>Have a question?</h2>

                    <%if (formData) {%>
                        <label for="name">Subject:</label>
                        <input type="text" id="subject" name="subject" placeholder="Subject" minlength="2" value="<%=formData.subject%>" required>

                        <label for="details">Details:</label>
                        <textarea id="details" name="details" placeholder="Description" rows="4" minlength="3" required><%=formData.details%></textarea>
                    <%} else {%>
                        <label for="subject">Subject:</label>
                        <input type="text" id="subject" name="subject" placeholder="Subject" minlength="2" required>

                        <label for="details">Details:</label>
                        <textarea id="details" name="details" placeholder="Description" rows="4" minlength="3" required></textarea>
                    <%}%>
                
                    <input type="button" class="cancel" value="Cancel" onClick= window.history.back()>
                    <input type="submit" class="submit float-right" value="Submit">
                </form>
            </div>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>
