<%- include('../partials/header.ejs')%>
    <main>
        <h2>My RSVPS</h2>
        <%for (let i = 0; i < rsvps.length; i++) {
            let rsvp = rsvps[i];%>
            <h3>Name: <%=rsvp.program.name%> Response: <%=rsvp.response%></h3>
        <%}%>
    </main>
<%- include('../partials/footer.ejs')%>