<%- include('../partials/header.ejs')%>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var events = <%-JSON.stringify(programs)%>;
    var formattedEvents = [];
    
    for(let i = 0; i < events.length; i++) {
        let event = events[i];
        var startHour = event.startTime;
        var endHour = event.endTime;
        var startDate = new Date(event.startDate + " " + event.startTime);
        var endDate = new Date(event.endDate + " " +event.endTime);
        console.log(startDate);
        console.log(endDate);
        let obj = {
            title: event.name,
            start: startDate,
            end: endDate,
            url: 'programs/' + event._id
        };
        formattedEvents.push(obj);
    }
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      initialDate: '2023-03-07',
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      events: formattedEvents
    });
  
    calendar.render();
  });

  
</script>
    <main>
        <div id='calendar'></div>
    </main>
<%- include('../partials/footer.ejs')%>