<%- include('../partials/header.ejs')%>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
<script defer src="/javascript/calendar.js"></script>
    <main>
        <div id='calendar'></div>
    </main>
<%- include('../partials/footer.ejs')%>